<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/91902/IdeaProjects/SeleniumBasics/src/main/java/org/seleniumBasics/Prac.java">
        <classes>
            <class name="org.seleniumBasics.Prac"></class>
        </classes>

    </test>
</suite>